* {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

html {
  font-size: 62.5%;
}

#root {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: 'Roboto Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FBFBFF;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000000;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: 'Roboto';
  color: #f0b0b9;
  font-weight: 700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 3rem;
}

a,
p {
  font-size: 1.8rem;
}

@media (min-width: 320px) {
  body {
    font-size: 1.5rem;
  }
}