html {
  font-size: 62.5%;
}

#root {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: 'Fjalla One' -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f0b0b9;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  position: relative;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: 'Fjalla One';
  color: #ffffff;
  font-weight: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

a, p {
  font-size: 1.8rem;
}

nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
}

nav {
  background: #8ac6d1;
  position: sticky;
  top: 0;
  overflow: hidden;
}

@media (min-width: 320px) {
  body {
    font-size: 1.5rem;
  }
}